* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  background: white;
}
*:focus {
  outline: 2px dashed #de2e54;
  outline-offset: 1px;
}
.container {
  width: 100%;
  max-width: 1160px;
  padding: 0px 30px;
  margin: 0 auto;
}
.main-button {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #de2e54;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid transparent;
}
.main-button:hover {
  background: transparent;
  color: #de2e54;
  border: 2px solid #de2e54;
}
.main-button:active {
  opacity: 60%;
  background-color: #de2e54;
  color: white;
}
.main-button-solid:hover {
  background-color: rgba(222, 46, 84, 0.8);
  color: white;
}
.main-button-solid:active {
  background-color: rgba(222, 46, 84, 0.6);
  color: white;
}
.site-header {
  padding: 24px 0px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.site-logo:hover {
  color: #de2e54;
}
.site-logo:active {
  opacity: 60%;
}
.site-logo-img {
  margin-right: 16px;
  border-radius: 50%;
}
.sitenav {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Open Sans";
}
.sitenav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.sitenav-item {
  margin-right: 32px;
}
.sitenav-link {
  text-decoration: none;
  display: block;
  color: black;
}
.sitenav-link:hover {
  color: #de2e54;
}
.sitenav-link:active {
  opacity: 60%;
}
.sitenav-item:last-child {
  margin-right: 0px;
}
.site-footer {
  background: #000;
  padding: 24px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer-logo {
  color: white;
}
.site-footer-logo:hover {
  color: #de2e54;
}
.site-footer-logo:active {
  color: white;
  opacity: 0.6;
}
.sitenav-footer-link {
  color: white;
}
.sitenav-footer-link:hover {
  color: #de2e54;
}
.sitenav-footer-link:active {
  color: white;
  opacity: 0.6;
}
.hero {
  background: #0eb4c1;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  padding: 120px 0px;
  color: white;
  width: 500px;
}
.hero-content-heading {
  font-family: "Open Sans Condensed", "Open Sans", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 16px;
}
.hero-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.hero-img {
  align-self: flex-end;
}
